<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />


<!--    <permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />-->

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/icon_round"
        android:largeHeap="true"
        android:supportsRtl="false"
        android:theme="@style/Theme.QuranApp"
        android:usesCleartextTraffic="true"
        tools:replace="android:supportsRtl"
        tools:targetApi="31">

        <activity
            android:name=".ui.activities.SplashScreenActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.QuranApp"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.app.dz.quranapp.ui.activities.UserSearchActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.app.dz.quranapp.ui.activities.OnBoardingParte.StartActivityPager"
            android:screenOrientation="portrait" />


        <activity android:name="com.app.dz.quranapp.ui.activities.LocationParte.LocationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.app.dz.quranapp.ui.activities.AboutActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.app.dz.quranapp.ui.activities.CollectionParte.BooksParte.ActivityBooksList"
            android:screenOrientation="portrait"/>

        <activity android:name="com.app.dz.quranapp.ui.activities.CollectionParte.chaptreParte.ActivityChapterList"
            android:screenOrientation="portrait"/>
        <activity android:name="com.app.dz.quranapp.ui.activities.searchParte.SearchActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.app.dz.quranapp.ui.activities.QuranSearchParte.ActivitySearchQuran"
            android:screenOrientation="portrait"/>

        <activity android:name="com.app.dz.quranapp.ui.activities.CollectionParte.HadithDetailsParte.ActivityHadithDetailsList"
            android:screenOrientation="portrait"/>
        <activity android:name="com.app.dz.quranapp.ui.activities.adhan.AdhanConfigActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.app.dz.quranapp.fix_new_futers.aManageNewSources.TestQuranAudioAyaLimitsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.app.dz.quranapp.ui.activities.subha.SubhaActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.app.dz.quranapp.ui.activities.mahfodat.ActivityMahfodatList"
            android:screenOrientation="portrait"/>
        <activity android:name="com.app.dz.quranapp.ui.activities.CollectionParte.motonParte.ActivityMatnViewer"
            android:screenOrientation="portrait"/>
        <activity android:name="com.app.dz.quranapp.ui.activities.CollectionParte.motonParte.PdfViewer"
            android:screenOrientation="portrait"/>
        <activity android:name="com.app.dz.quranapp.ui.activities.CollectionParte.motonParte.ActivityMatnList"
            android:screenOrientation="portrait"/>
        <activity android:name="com.app.dz.quranapp.ui.activities.CollectionParte.HadithDetailsParte.ActivityHadithSearchDetailsList"
            android:screenOrientation="portrait"/>
        <activity android:name="com.app.dz.quranapp.ui.activities.CollectionParte.motonParte.ActivityMatnOnlineViewer" />

        <service
            android:name=".Services.QuranServices.PAudioServiceSelection"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback"
            />

        <service
            android:name=".Services.QuranServices.PAudioServiceNoSelection"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback"
            />

        <service
            android:name=".Services.QuranServices.ForegroundDownloadAudioService"
            android:exported="false" />
        <service
            android:name=".Services.ForegroundDownloadBookService"
            android:exported="false" />
        <service android:name="com.app.dz.quranapp.Services.ForegroundDownloadMushafService"
            android:exported="false"/>
        <service android:name="com.app.dz.quranapp.Services.ForegroundExtractMushafService"
            android:exported="false"/>



        <!-- Declare the JobIntentService -->

        <!-- Declare the ForegroundService -->
        <service
            android:name=".Services.adhan.PrayerForegroundService"
            android:exported="false"
            android:enabled="true"/>

        <receiver
            android:name="com.app.dz.quranapp.ui.activities.adhan.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.htc.intent.action.SCREEN_ON" />
                <action android:name="com.htc.intent.action.TIME_TICK" />
                <action android:name="com.htc.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
            </intent-filter>
        </receiver>

        <service android:name=".Services.adhan.AdanAudioPlayerService"
            android:exported="false"
            android:enabled="true"
            />


        <receiver
            android:name="com.app.dz.quranapp.Services.adhan.AlarmAdkrarBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
        </receiver>

        <receiver
            android:name="com.app.dz.quranapp.Services.adhan.AlarmBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
        </receiver>



    </application>

</manifest>