<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />


    <permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/icon_round"
        android:largeHeap="true"
        android:supportsRtl="false"
        android:theme="@style/Theme.QuranApp"
        android:usesCleartextTraffic="true"
        tools:replace="android:supportsRtl"
        tools:targetApi="31">

        <activity
            android:name=".ui.activities.SplashScreenActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.QuranApp"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.app.dz.quranapp.ui.activities.UserSearchActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.app.dz.quranapp.ui.activities.OnBoardingParte.StartActivityPager"
            android:screenOrientation="portrait" />

        <activity android:name="com.app.dz.quranapp.MushafParte.TafsirParte.AudioFilesActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.app.dz.quranapp.MushafParte.TafsirParte.ReaderListActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name="com.app.dz.quranapp.ui.activities.LocationParte.LocationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.app.dz.quranapp.ui.activities.AboutActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.app.dz.quranapp.ui.activities.CollectionParte.BooksParte.ActivityBooksList"
            android:screenOrientation="portrait"/>

        <activity android:name="com.app.dz.quranapp.ui.activities.CollectionParte.chaptreParte.ActivityChapterList"
            android:screenOrientation="portrait"/>
        <activity android:name="com.app.dz.quranapp.ui.activities.searchParte.SearchActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.app.dz.quranapp.ui.activities.QuranSearchParte.ActivitySearchQuran"
            android:screenOrientation="portrait"/>
        <activity android:name="com.app.dz.quranapp.ui.activities.AdkarParte.AdkarDetailsParte.ActivityDikrDetailsList"
            android:screenOrientation="portrait"/>
        <activity android:name="com.app.dz.quranapp.ui.activities.CollectionParte.HadithDetailsParte.ActivityHadithDetailsListDev"
            android:screenOrientation="portrait"/>
        <activity android:name="com.app.dz.quranapp.ui.activities.qibla_parte.QiblaFinder" />
        <activity android:name="com.app.dz.quranapp.MushafParte.mushaf_list.MushafListActivity" />
        <activity android:name="com.app.dz.quranapp.ui.activities.adhan.AdhanConfigActivity" />
        <activity android:name="com.app.dz.quranapp.fix_new_futers.aManageNewSources.TestQuranAudioAyaLimitsActivity" />
        <activity android:name="com.app.dz.quranapp.ui.activities.NewBooksParte.BooksNewActivity" />
        <activity android:name="com.app.dz.quranapp.ui.activities.subha.SubhaActivity" />
        <activity android:name="com.app.dz.quranapp.ui.activities.mahfodat.ActivityMahfodatList" />
        <activity android:name="com.app.dz.quranapp.ui.activities.CollectionParte.motonParte.ActivityMatnViewer" />
        <activity android:name="com.app.dz.quranapp.ui.activities.CollectionParte.motonParte.PdfViewer" />
        <activity android:name="com.app.dz.quranapp.ui.activities.CollectionParte.motonParte.ActivityMatnList" />

        <service
            android:name=".Services.QuranServices.PAudioServiceSelection"
            android:exported="false" />

        <service
            android:name=".Services.QuranServices.PAudioServiceNoSelection"
            android:exported="false" />

        <service
            android:name=".Services.QuranServices.ForegroundDownloadAudioService"
            android:exported="false" />
        <service
            android:name=".Services.ForegroundDownloadBookService"
            android:exported="false" />
        <service android:name="com.app.dz.quranapp.Services.ForegroundDownloadMushafService"
            android:exported="false"/>
        <service android:name="com.app.dz.quranapp.Services.ForegroundExtractMushafService"
            android:exported="false"/>
        <service android:name="com.app.dz.quranapp.MushafParte.mushaf_list.DownloadService" />

        <receiver
            android:name=".ui.activities.MainActivityPartes.TimeParte.AlarmReceiver"
            android:enabled="true"
            android:exported="true" />


        <!-- Declare the JobIntentService -->

        <!-- Declare the ForegroundService -->
        <service
            android:name=".Services.adhan.PrayerForegroundService"
            android:exported="false"
            android:enabled="true"/>

        <receiver
            android:name="com.app.dz.quranapp.ui.activities.adhan.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
            </intent-filter>
        </receiver>


        <service
            android:name="com.app.dz.quranapp.fix_new_futers.ai_commands.AudioForegroundService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="microphone"
            android:stopWithTask="false"/>


        <receiver android:name=".fix_new_futers.ai_commands.MyWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

        <service android:name=".Services.adhan.AdanAudioPlayerService"
            android:exported="false"
            android:enabled="true"
            />




    </application>

</manifest>